*{
    background-color:#fbfbfb;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.form{
width: vw;
height: 100vh;
 display:flex;
align-items: center;
Justify-content:center;
flex-direction:column;
}
.input-focussed{
    border-color: red;
}


